@font-face {
    font-family: 'NeueHaasGroteskDisp Pro';
    src: url('fonts/NHaasGroteskDSPro-55Rg.eot');
    src: url('fonts/NHaasGroteskDSPro-55Rg.eot?#iefix') format('embedded-opentype'),
        url('fonts/NHaasGroteskDSPro-55Rg.woff2') format('woff2'),
        url('fonts/NHaasGroteskDSPro-55Rg.woff') format('woff'),
        url('fonts/NHaasGroteskDSPro-55Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NHaasGroteskDSPro-65Md';
    src: url('fonts/NHaasGroteskDSPro-65Md.eot');
    src: url('fonts/NHaasGroteskDSPro-65Md.eot?#iefix') format('embedded-opentype'),
        url('fonts/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
        url('fonts/NHaasGroteskDSPro-65Md.woff') format('woff'),
        url('fonts/NHaasGroteskDSPro-65Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


.container{padding-right:15px;padding-left:15px; margin-right:auto; margin-left:auto; position:relative; max-width: 1512px;}
a, a:focus, a:hover {text-decoration: none;}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {margin: 0;padding: 0;}
*, :after, :before {box-sizing: border-box;}
.mini_header {background: #f8f8f8;text-align: end;}
.mini_header ul {max-width: 1760px;margin: auto;}
.mini_header ul li {display: inline-block;list-style: none;margin: 0;padding: 0;}
.mini_header ul li a {font-size: 17px;line-height: 21px;color: #414141;font-weight: 500;font-family: Montserrat;padding: 10px 15px;display: block;}
.headr-container {max-width: 1790px;margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px;width: 100%;}
.mobileMenu-toggle {height: 3.92857rem;width: 3.92857rem;display: inline-block;font-size: 0;left: 0;overflow: hidden;padding: 0 1.28571rem;position: absolute;z-index: 50;}
.mobileMenu-toggle .mobileMenu-toggleIcon, .mobileMenu-toggle .mobileMenu-toggleIcon::after, .mobileMenu-toggle .mobileMenu-toggleIcon::before {background: #444;content: "";display: block;height: 2px;position: absolute;transform: rotate(0);transition: transform .1s ease-in,top .1s ease-in 150ms,bottom .1s ease-in 150ms;width: 1.42857rem;}
.mobileMenu-toggle.is-open .mobileMenu-toggleIcon {background-color: transparent;transition-delay: .1s;}
.mobileMenu-toggle.is-open .mobileMenu-toggleIcon::after, .mobileMenu-toggle.is-open .mobileMenu-toggleIcon::before {background-color: #444;bottom: auto;top: auto;transition: transform .1s ease-in 150ms,top .1s ease-in,bottom .1s ease-in;}
.mobileMenu-toggle.is-open .mobileMenu-toggleIcon::before {top: 0;transform: rotate(45deg);}
.mobileMenu-toggle.is-open .mobileMenu-toggleIcon::after {bottom: 0;transform: rotate(-45deg);}
.mobileMenu-toggle .mobileMenu-toggleIcon::before {top: -.5rem;}
.mobileMenu-toggle .mobileMenu-toggleIcon::after {bottom: -.5rem;}
.mobileMenu-toggle .mobileMenu-toggleIcon {top: 1.92857rem;transition: background-color 10ms ease-in .1s;}
.headr-container .d-flex {-ms-flex-align: center;align-items: center;-ms-flex-pack: justify;justify-content: space-between;display: flex;display: -webkit-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;}
.headr-container .logo .header-logo {margin: 0;text-align: left;}
.header-logo {font-size: 0;text-align: center;height: 55px;}
.header-logo__link {color: #333;height: inherit;display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: center;-ms-flex-align: center;align-items: center;margin: 0 auto;position: relative;text-decoration: none;width: 100%;z-index: 20;}
.header-logo-image-container {position: relative;width: 100%;}
.header-logo-image {max-height: 2.35714rem;display: block;margin: 0 auto;}
.navUser {position: absolute;top: 50%;transform: translateY(-50%);right: 0;top: 26px;width: 100%;z-index: 5;}
.navUser-section--alt {float: right;}
.navPages-container {bottom: 0;display: none;height: 100%;left: 0;-webkit-overflow-scrolling: touch;position: absolute;right: 0;z-index: 10;}
.navPages-container.is-open {display: block;padding-top: 55px;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages {background-color: #fff;padding-left: 0;padding-right: 0;padding-bottom: 0;}
.navPages {background-color: #e5e5e5;height: 100%;overflow-y: auto;padding: 1.5rem;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages .navPages-quickSearch {padding-left: 1.5rem;padding-right: 1.5rem;margin-bottom: .78571rem;}
.navPages-quickSearch>.container {padding: 0;}
.navPages-quickSearch .form {margin: 0;}
.navPages-quickSearch .form-field {margin-bottom: 0;}
.quickSearchResults {margin-top: 1.5rem;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages .navPages-list {padding-left: 1.5rem;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages .navPages-list .navPages-item {padding-top: 3px;padding-bottom: 3px;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages .navPages-list .navPages-item a {font-size: 12px;display: block;position: relative;}
.navPages ul {list-style: none;}
.headr-container .d-flex .navUser .navUser-section--alt {display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;}
.navUser ol, .navUser ul {list-style: none;margin-left: 0;margin: 0;padding: 0;}
.navUser-item {display: none;}
.navUser-item--cart {display: block;}
.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.business-item a.business-nav {background-color: #00567d;color: #fff;border: 1px solid #00567d;display: block;border-radius: 50px;font-family: Montserrat;font-weight: 500;}
#quickSearch-desktop {margin-bottom: 0;margin-top: 0;}
.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.search-header .search_box .form {margin-bottom: 0;}
.form-fieldset {border-width: 0;margin: 0;padding: 0;}
.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.search-header .search_box .form .form-field {margin-bottom: 0;}
.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.search-header .search_box .form .form-field .form-input {border: 1px solid #707070;border-radius: 50px;max-width: 228.03px;}
.headr-container .d-flex .main-menu .navPages-container .navPages-list .navPages-item a.navPages-action.nav-menu {position: relative;}
.headr-container .d-flex .main-menu .navPages-container .navPages-list .navPages-action {font-family: Montserrat;font-weight: 500;color: #101820;}
.navPages-list:not(.navPages-list-depth-max) .navPages-action.has-subMenu {display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-align: center;align-items: center;}
.navPages-action {color: #333;display: block;font-size: 15px;font-weight: 700;padding: .78571rem 0;text-decoration: none;text-transform: uppercase;}
.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.navUser-item--account {padding-left: 5px;padding-right: 5px;}
.headr-container .d-flex .navUser .navUser-section--alt .navUser-item--account svg {height: 18px;width: 18px;stroke: none;}
.navUser-action svg {fill: #333;stroke: #333;transition: all .15s ease;}
.headr-container .d-flex .navUser .navUser-section--alt .navUser-item--cart svg {width: 29px;height: 23px;}
.headr-container .d-flex .main-menu .navPages-container .navPages-list .navPages-item:hover a.navPages-action.nav-menu:after {left: 1.10429rem;right: 1.10429rem;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages ul.navPages-list.navPages-list--user {background-color: #f8f8f8;padding-top: 22px;padding-bottom: 22px;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages ul.navPages-list.navPages-list--user .navPages-item.Support-Item {background-image: url(../images/support.png);background-repeat: no-repeat;background-position: left;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages ul.navPages-list.navPages-list--user .navPages-item.Dealer-Item {background-image: url(../images/dealer.png);background-repeat: no-repeat;background-position: left;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages ul.navPages-list.navPages-list--user .navPages-item.About-Item {background-image: url(../images/about.png);background-repeat: no-repeat;background-position: left;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages ul.navPages-list.navPages-list--user .navPages-item.Portal-Item {background-image: url(../images/dealer-portal.png);background-repeat: no-repeat;background-position: left;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages ul.navPages-list.navPages-list--user .navPages-item.Contact-Item {background-image: url(../images/contact-us.png);background-repeat: no-repeat;background-position: left;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages ul.navPages-list.navPages-list--user .navPages-item.My-Account-Item {background-image: url(../images/my-account.png);background-repeat: no-repeat;background-position: left;}
.headr-container .d-flex .main-menu .navPages-container.is-open .navPages ul.navPages-list.navPages-list--user .navPages-item .navPages-action {padding-left: 50px;}
.main-Breadcrumb {display: block;margin-top: 30px;}
#main-content ol.breadcrumbs {display: block;font-family: Montserrat;font-weight: 500;color: #101820;}
.main-Breadcrumb ol.breadcrumbs .breadcrumb:not(:first-child):before {border-right: 0;transform: none;width: 7px;height: 10px;background-image: url("../images/right-arrow.png");}
.breadcrumb:not(:first-child):before {display: inline-block;margin: 0 .25rem;transform: rotate(15deg);border-right: .1em solid #757575;height: .8em;content: '';}
.main-Breadcrumb ol.breadcrumbs .breadcrumb a {text-decoration: none;font-size: 14px;color: #101820;font-weight: 500;text-transform: uppercase;font-family: Montserrat;}
.breadcrumb {display: inline-block;float: none;}
.main-page-content {display: block;max-width: 730px;margin: 0 auto;padding: 0px 10px;}
.sign-in-right-content ul {list-style-type: none;}
.sign-in-right-content ul li {display: flex;flex-wrap: wrap;}
/*.sign-in-right-content ul li:before {
    background-image: url(./images/star.png);
    content: '';
    background-size: contain;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: -35px;
    margin-top: 4px;}*/
.sign-in-right-content ul li .image-section {flex: 0 0 8.333333%;max-width: 8.333333%;margin-right: 0%;position: relative;top: 5px;}   
.sign-in-right-content ul li .sign-in-small-content {flex: 0 0 90.666667%;max-width: 90.666667%;margin-left: 0;padding-left: 30px;}
.sign-in-right-content ul li span {font-size: 24px;line-height: 29px;color: #000000;font-weight: 600;font-family: "Montserrat";}
.sign-in-right-content li p {font-size: 18px;font-family: 'NeueHaasGroteskDisp Pro';color: #000;line-height: 28px;margin-top: 10px;}
.sign-in-right-content ul li span p {font-size: 24px;line-height: 29px;color: #000000;font-family: "Montserrat";}
.sign-inner {position: relative;float: left;width: 100%;}
.sign-inner h1 {color: #101820;font-weight: 400;font-family: Montserrat;margin-left: -2px;}
.sign-inner h2 {color: #000000;font-family: Montserrat;text-align: left;margin-top: 8px;font-weight: 500;}
.sign-inner span.sign-in-title-right a {color: #4a9462;font-family: 'NeueHaasGroteskDisp Pro';font-weight: normal;font-style: normal;font-size: 18px;}
span.sign-in-title-right a span.small-title {font-family: 'NHaasGroteskDSPro-65Md';font-weight: normal;font-style: normal;}
.login-form {width: 100%;float: left;}
.login-form label.form-label {color: #101820;font-size: 14px;font-family: 'NeueHaasGroteskDisp Pro';display: inline-block;}
.login-form label.form-label .req {display: inline-block;margin-left: 5px;color: #4a9462;font-size: 19px;line-height: 12px;}
form.login-form.form .form-field {float: left;width: 100%;}
.login-form .form-input {border-top: 0px;border-left: 0;border-right: 0;height: 2.5rem;border-radius: 0;padding-left: 0;font-family: 'NeueHaasGroteskDisp Pro';color: #101820;}
.login-form .form-input:focus {border-bottom: 2px solid #000;}
.login-form a.forgot-password {color: #4a9462;font-family: 'NeueHaasGroteskDisp Pro';font-weight: normal;font-style: normal;font-size: 18px;text-align: left;line-height: 48px;float: left;}
.login-form input.button.button--primary {border-radius: 0px;font-size: 16px;color: #101820;background-color: #e7e7e8;width: 285px;margin-bottom: 0;font-family: 'NeueHaasGroteskDisp Pro';}
.login-form input.button.button--primary.without-background {background: #fff;}
.login-form input.button.button--primary.without-background:hover {background-color: #e7e7e8;}
.form-actions {float: left;width: 100%;margin-top: 30px;}
.sign-in-with-other-account {float: left;width: 100%;display: block;border-top: 1px solid #8f8f8f;text-align: center;}
.sign-in-with-other-account span.or {display: block;font-family: Montserrat;}
.sign-in-with-other-account ul {list-style-type: none;}
.sign-in-with-other-account ul li {border: 1px solid #8f8f8f;}
.sign-in-with-other-account ul li:hover {background-color: #e7e7e8;}
.sign-in-with-other-account ul li a {color: #101820;font-size: 16px;font-family: Montserrat;display: flex;align-items: center;justify-content: center;}
.sign-in-with-other-account ul li a span {display: inline-block;min-width: 180px;text-align: left;}
.sign-in-with-other-account ul li a img {display: inline-block;vertical-align: middle;margin-right: 2rem;}
.sign-inner span.reset-small-text {color: #000000;font-family: 'NeueHaasGroteskDisp Pro';display: block;}
.sign-inner label.reset-text {float: left;font-family: 'NeueHaasGroteskDisp Pro';font-style: italic;}
label.container-checkbox {clear: both;margin-top: 30px;display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 18px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;color: #101820;font-family: 'NeueHaasGroteskDisp Pro';margin-right: 66px;}
.container-checkbox input {position: absolute;opacity: 0;cursor: pointer;}
.container-checkbox .checkmark {position: absolute;top: -1px;left: 0;height: 22px;width: 22px;border-color: #8f8f8f;border-style: solid;border-width: 1px;}
.container-checkbox input:checked ~ .checkmark:after {display: block;}
.container-checkbox input:checked ~ .checkmark {background-color: #000;border: 1px solid #000;}
.container-checkbox .checkmark:after {left: 7px;top: 4px;width: 6px;height: 12px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.container-checkbox .checkmark:after {content: "";position: absolute;display: none;}
p.register-text {color: #000000;font-family: 'NeueHaasGroteskDisp Pro';display: block;}
p.register-text.dark {font-family: 'NHaasGroteskDSPro-65Md';}
a.reset-btn-field {font-size: 18px;line-height: 21px;color: #4a9462;font-family: 'NeueHaasGroteskDisp Pro';margin-bottom: 20px;display: inline-block;}
.g-recaptcha {margin: 10px 0px;}
.captcha-label {font-size: 13px;font-family: 'NeueHaasGroteskDisp Pro';font-style: italic;color: #000000;}
.footer {background-color: #f8f8f8;position: relative;clear: both;}
.footer-info {margin: 0 -.75rem;max-width: none;width: auto;font-size: 0;}
.footer-info-col {padding-left: .75rem;padding-right: .75rem;width: 100%;color: #757575;display: inline-block;float: none;font-size: 1rem;margin-bottom: 3rem;text-align: left;vertical-align: top;-ms-word-break: break-all;overflow-wrap: break-word;}
.footer .footer-info .newsletterSubscription .footer-logo {display: block;}
.footer .footer-info .newsletterSubscription h3.footer-newsletter-heading {font-size: 18px;line-height: 22px;color: #101820;font-weight: 500;font-family: Montserrat;margin-top: 15px;text-transform: uppercase;}
.footer .footer-info .newsletterSubscription .form {margin-top: 25px;margin-bottom: 0;max-width: 535px;}
.form-field {display: block;margin: 0 0 2rem;max-width: none;}
.form-prefixPostfix.wrap {-ms-flex-wrap: wrap;flex-wrap: wrap;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;}
.footer .footer-info .newsletterSubscription .form input#nl_email {background-color: transparent;border-radius: 0;color: #101820;font-family: 'NeueHaasGroteskDisp Pro';font-weight: 400;font-style: normal;}
.footer .footer-info .newsletterSubscription .form input#nl_email::placeholder {color: #101820;font-size: 16px;font-family: 'NeueHaasGroteskDisp Pro';}
.form-prefixPostfix .button, .form-prefixPostfix .form-input {display: block;width: 100%;}
.form-prefixPostfix-button--postfix {margin: .78571rem 0 0;-ms-flex-order: 1;order: 1;}
.form-prefixPostfix .form-input {-ms-flex: 1;flex: 1;}
.form-input {-webkit-appearance: none;-moz-appearance: none;appearance: none;background-color: #fff;border-color: #8f8f8f;border-style: solid;border-width: 1px;border-radius: 4px;color: #666;display: block;font-family: inherit;font-size: 1rem;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;height: 3rem;margin: 0;padding: .75rem 1rem;transition: border-color .1s ease-out;width: 100%;}
.footer .footer-info .newsletterSubscription .form .button {background-color: transparent;border-color: #848484;border-radius: 0;font-size: 18px;color: #101820;font-family: 'NeueHaasGroteskDisp Pro';font-weight: 400;font-style: normal;padding-top: 24px;padding-bottom: 24px;line-height: 0;text-transform: uppercase;}
.button {-webkit-appearance: none;-moz-appearance: none;border-radius: 0;border-style: solid;border-width: 1px;cursor: pointer;font-family: Montserrat,Arial,Helvetica,sans-serif;font-weight: 400;line-height: normal;position: relative;text-align: center;text-decoration: none;display: inline-block;background-color: transparent;border-color: #8f8f8f;color: #666;font-size: 1rem;padding: .85714rem 2.28571rem;border-radius: 4px;outline: 0;vertical-align: middle;}
.socialLinks {list-style: none;margin-left: 0;margin: 0;padding: 0;line-height: 37px;}
.socialLinks-item {display: inline-block;font-size: 0;}
.socialLinks .socialLinks-item {margin-bottom: .35714rem;}
.socialLinks li {margin: 0;padding: 0;}
.socialLinks--alt .icon {height: 1.5rem;width: 1.5rem;}
.footer .footer-info h3.footer-info-heading {margin-bottom: 0;font-size: 18px;line-height: 32px;color: #101820;font-weight: 600;font-family: Montserrat;text-transform: uppercase;}
.footer-info-list {list-style: none;margin-left: 0;}
.footer .footer-info .footer-info-list a {line-height: 32px;color: #101820;font-family: 'NeueHaasGroteskDisp Pro';font-weight: 400;font-style: normal;}
.footer .footer-copyright>.powered-by {font-size: 16px;line-height: 18px;color: #101820;font-family: 'NeueHaasGroteskDisp Pro';font-weight: 400;font-style: normal;margin: 0;}
.footer .footer-info .newsletterSubscription .form .button:hover {background-color: #00567d;color: #fff;border-color: #00567d;}
.form-input:focus {border-color: #474747;outline: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
body {margin: 0px;padding: 0px;}

@media (min-width: 992px) and (min-width: 551px) {
	.navPages-item {float: left;}	
}

@media (min-width: 320px) {
	.mini_header {display: none;}	
	.container {max-width: 100%;}
    .sign-inner {margin-top: 50px;margin-bottom: 50px;}
    .sign-inner h1 {font-size: 30px;}
    .sign-inner h2 {font-size: 16px;}
    .sign-inner span.sign-in-title-right {position: unset;display: block;margin-top: 20px;}
    .login-form {margin-top: 2rem;}
    form.login-form.form .form-field {margin-top: 1rem;margin-bottom: 1rem;}
    .login-form input.button.button--primary {float: left;}
    .login-form a.forgot-password {width: 100%;margin-bottom: 10px;}
    .sign-in-with-other-account {margin-top: 50px;}
    .sign-in-with-other-account span.or {margin: 20px;font-size: 18px;}
    .sign-in-with-other-account ul li {height: 45px;line-height: 45px;margin-bottom: 15px;}
    .sign-in-right-content ul li {margin: 30px 0px;}
    .sign-inner span.reset-small-text {font-size: 16px;line-height: 25px;margin-top: 20px;}
    .sign-inner label.reset-text {display: block;width: 100%;font-size: 16px;line-height: 25px;margin-bottom: 30px;}
    label.container-checkbox {float: left;}
    input.button.button--primary.without-background {float: left !important;}
    .sign-in-left, .sign-in-right-content {float:left;width: 100%;}
    .sign-in-right-content {padding-left: 0px;}
    a.reset-btn-field {margin-top: 30px;}
    p.register-text {font-size: 16px;line-height: 24px;margin: 15px 0px;}
	.footer .footer-info {padding-top: 22px;}
	.footer .footer-info .newsletterSubscription {width: 100%;}
	.footer .footer-info .newsletterSubscription .form input#nl_email {height: 50px;font-size: 16px;text-align: center;}
	.footer .footer-info .newsletterSubscription .form .button {font-size: 16px;}
	.footer .footer-info .newsletterSubscription .footer-social-link .socialLinks-item {margin-right: 2.3rem;}
	.footer .footer-info .footer-info-list a {font-size: 16px;}
}

@media (min-width: 551px) {
	.footer-info-col {text-align: left;}	
	.footer-copyright {text-align: left;}
}

@media (min-width: 576px) {
	.container {max-width: 100%;}
	.main-Breadcrumb ol.breadcrumbs .breadcrumb {line-height: 50px;padding: 0;margin-right: .15rem;}
    .sign-inner span.sign-in-title-right {position: absolute;top: 15px;right: 0;}
    .login-form a.forgot-password {width: auto;text-align: left;}
    .login-form input.button.button--primary {float: right;}
    .login-form a.forgot-password {margin-bottom: 0px;}
    label.container-checkbox {float: right;}
}

@media (min-width: 768px) {
	.container {max-width: 730px;}
}

@media (min-width: 992px) {
    .container {max-width: 960px;}
	.mini_header {display: block;}
	.mini_header ul li a {font-size: 13px;}
    .header-logo-image {max-height: none;}
	.headr-container .d-flex .main-menu .navPages-container {position: static;background: 0 0;display: block;height: auto;padding: 0;}
    .mobileMenu-toggle {display: none;}
    .navPages-quickSearch {display: none;}
	.navPages {margin: 0 auto;max-width: 85.71429rem;width: 100%;background: 0 0;font-size: 0;overflow-y: visible;padding: 0;text-align: center;}
	.navPages-list {display: inline-block;float: none;}
    .navPages-list--user {display: none;}
	.navPages ul {margin: 0;padding: 0;}
	.navPages ol li, .navPages ul li {margin: 0;padding: 0;}
	.navPages-action {text-transform: uppercase;}
	.navPages-action, .navPages-item {display: block;}
	.headr-container .d-flex .main-menu .navPages-container .navPages-list .navPages-action {padding-left: 8px;padding-right: 8px;padding-top: 31px;padding-bottom: 31px;font-size: 13px;}
    .headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.search-header .search_box .quickSearchResults {position: absolute;width: 300px;right: 0;top: 72px;}
	.navUser {padding: 0 1.5rem;position: relative;right: auto;top: auto;transform: none;z-index: 50;}
	.navUser-section {position: relative;}
	.navUser-item {display: block;}
	.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.business-item a.business-nav {font-size: 13px;padding: 7px 14px;}
	.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.search-header {display: none;}
	.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.navUser-item--account a, .headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.navUser-item--cart a {height: 30px;width: 30px;padding: 0;display: -ms-inline-flexbox;display: inline-flex;-ms-flex-align: center;align-items: center;-ms-flex-pack: center;justify-content: center;}
	.headr-container .d-flex .main-menu .navPages-container .navPages-list .navPages-item a.navPages-action.nav-menu:hover {color: #00567d;}
	.headr-container .d-flex .main-menu .navPages-container .navPages-list .navPages-item a.navPages-action.nav-menu:after {content: ' ';position: absolute;border-bottom: 3px solid #00567d;bottom: 2.15571rem;left: 50%;right: 50%;transition: all .15s ease-in-out;}
    .sign-inner {margin-top: 100px;margin-bottom: 100px;}
    .sign-inner h1 {font-size: 42px;}
    .sign-inner h2 {font-size: 24px;}
    .login-form {margin-top: 3rem;}
    form.login-form.form .form-field {margin-top: 2rem;margin-bottom: 2rem;}
    .sign-in-with-other-account {margin-top: 70px;}
    .sign-in-with-other-account span.or {margin: 30px;font-size: 24px;}
    .sign-in-with-other-account ul li {height: 60px;line-height: 60px;margin-bottom: 25px;}
    .sign-inner span.reset-small-text {font-size: 18px;line-height: 29px;margin-top: 25px;}
    .sign-inner label.reset-text {display: inline-block;width: 400px;font-size: 18px;line-height: 29px;}
    input.button.button--primary.without-background {float: right !important;}
    .sign-in-left,.sign-in-right-content {float: left;width: 50%;}
    .sign-in-right-content {padding-left: 100px;}
    .sign-in-right-content ul li {margin: 60px 0px;}
    p.register-text {font-size: 18px;line-height: 29px;margin: 20px 0px;}
	.footer .footer-info .newsletterSubscription {width: 50%;}	
	.footer .footer-info .newsletterSubscription .footer-social-link .socialLinks-item {margin-right: 3.3rem;}
	.footer .footer-info .newsletterSubscription {width: 50%;}
	.footer .footer-info .newsletterSubscription .form input#nl_email {height: 40px;font-size: 18px;text-align: left;}
	.footer .footer-info .newsletterSubscription .form .button {margin-left: 25px;width: auto;margin-top: 0;padding-left: 10px;padding-right: 10px;height: 40px;padding-top: 0;padding-bottom: 0;}
	.footer .footer-info .footer-info-col--small.webpage-one {width: 25%;}
	.footer .footer-info .footer-info-list a {font-size: 18px;}
}

@media (min-width: 1200px) {
	.container {max-width: 1170px;}
	.mini_header ul li a {font-size: 14px;}	
	.footer {padding: 4rem 0;}
}

@media (min-width: 1310px) {
	.container {max-width: 1280px;}
	.headr-container .d-flex .main-menu .navPages-container .navPages-list .navPages-action {font-size: 16px;padding-top: 41px;padding-bottom: 41px;padding-left: 15px;padding-right: 15px;}
	.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.business-item {padding-right: 0;}
    .headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.business-item a.business-nav {font-size: 16px;padding: 10px 30px;}
	.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.search-header {display: block;}
	.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.search-header .search_box .form .form-field .form-input {font-size: 14px;padding: 0 15px;height: 41px;width: 165.81px;}
	.footer .footer-info .newsletterSubscription .form input#nl_email {height: 50px;font-size: 18px;}
	.footer .footer-info .newsletterSubscription .form .button {height: 50px;}	
}


@media (min-width: 1550px) {
	.container {max-width: 1542px;}
	.headr-container .d-flex .main-menu .navPages-container .navPages-list .navPages-action {font-size: 18px;padding-top: 51px;padding-bottom: 51px;line-height: 22px;padding-left: 1.14286rem;padding-right: 1.14286rem;}
	.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.business-item {padding-right: 22px;}
	.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.business-item a.business-nav {font-size: 18px;padding: 10px 46px;}
    .headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.search-header .search_box .form .form-field .form-input {font-size: 18px;height: 47px;padding: 0 20px;width: 228.03px;}
	.headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.navUser-item--account a, .headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.navUser-item--cart a {height: 47px;width: 47px;}
	.footer {padding: 7rem 0;}
	.footer .footer-info {padding-top: 42px;}	
}

@media screen and (max-width: 991px) {
    .headr-container .logo {margin: 0 auto;}    
    .headr-container .d-flex .navUser .navUser-section--alt li.navUser-item.navUser-item--cart a {display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;right: 10px;top: 5px;position: relative;}
    .headr-container .d-flex .main-menu .navPages-container.is-open .navPages .navPages-list .navPages-item.for-business-menu {display: block!important;}
}








